<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_envelope"
        android:label="陌上花开"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReturnPlus"
        tools:targetApi="31">
        <activity
            android:name=".DiscussionActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".BubbleActivity"
            android:exported="false" />
        <activity
            android:name=".home.SettingsActivity"
            android:exported="false"
            android:label="设置" />
        <activity
            android:name=".home.RewardsActivity"
            android:exported="false"
            android:label="积分兑换" />
        <activity
            android:name=".home.PersonActivity"
            android:exported="false"
            android:label="个人主页" />
        <activity
            android:name=".home.MessageActivity"
            android:exported="false"
            android:label="个人信息" />
        <activity
            android:name=".home.MedicineActivity"
            android:exported="false"
            android:label="吃药小提醒" />
        <activity
            android:name=".home.SignActivity"
            android:exported="false"
            android:label="签到" />
        <activity
            android:name=".home.AboutActivity"
            android:exported="false"
            android:label="关于我们" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:label="home页面" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="主页面">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>